@forward 'admin/admin';
@forward 'admin/AdminLayout';
@forward 'admin/customPages';
@forward 'components/theme';
@forward 'components/background';
@forward 'components/buttons';
@forward 'components/offcanvas';
@forward 'components/section-title';
@forward 'components/breadcrumb';
@forward 'components/carousel';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'layout/meanmenu';
@forward 'layout/team';
@forward 'layout/header';
@forward 'layout/hero';
@forward 'layout/about';
@forward 'layout/service';
@forward 'layout/servicedetail';
@forward 'layout/approach';
@forward 'layout/project';
@forward 'layout/seo';
@forward 'layout/expart';
@forward 'layout/features';
@forward 'layout/accordion';
@forward 'layout/feedback';
@forward 'layout/brand';
@forward 'layout/blog';
@forward 'layout/blogdetail';
@forward 'layout/cta';
@forward 'layout/appointment';
@forward 'layout/touch';
@forward 'layout/partner';
@forward 'layout/product';
@forward 'layout/boost';
@forward 'layout/choose';
@forward 'layout/development';
@forward 'layout/technical';
@forward 'layout/fact';
@forward 'layout/footer';
@forward 'layout/quality';
@forward 'layout/cookie-consent';
@forward 'layout/review';
@import './components/spacing';
@import './components/back-to-top';
@import './utils/my-custom';
